<!doctype html>
<html lang="lt">
    <head>    

        <title>{{ if .Params.seo.title }}{{ $.Params.seo.title }}{{ else }}{{ print print $.Title " | " $.Site.Data.config.title }}{{ end }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "outputStyle" "nested" "precision" 10)).Permalink }}">
    </head>
    <body>
        
        <div class="site-wrapper">
            Labas
        </div>
    </body> 
</html>
