<html>
    <head>
        <title>You are the best</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body>
        <div class="hero">
            <h1>SU GIMTADIENIU!!</h1>
            <div class="fonfaros">🎉🎉🎉🎉🎉🎉</div>
            <div class="fonfaros">  🎉🎉🎉🎉</div>
            <div class="fonfaros">    🎉🎉</div>
            <div class="fonfaros">     🎉</div>
        </div>
        <div class="doc">
            {{.Content}}
        </div>
        <div class="liepa">
          <h2>Linkėjimai nuo Liepos 😆</h2>
        </div>
    </body>
</html>